<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cambridge Participatory Budgeting Confirmation</title>
  </head>
  <body>
    <p>Thank you for sharing a Participatory Budgeting idea to improve Cambridge!</p>
    <p>Here is what you suggested: <strong>{{ place.properties.title }}</strong></p>
    <p>You can see people's comments on your idea at <a href="{{site_root}}place/{{ place.id }}">{{site_root}}place/{{ place.id }}</a>.</p>
    <p><a href="https://visitor.r20.constantcontact.com/manage/optin?v=001HT_4jDa_Q_yk-2wMAUEBvBrAgr_GPne0Vwr8iJhQPAja2k80KqgeGk990z_FwJ-R99SRU8yVAGkZ0Yi_bsjuOhFj36u8im8pkCe8ZRtErE9A8uO4DqVoDaPLG8n0hJmxKCMiOwlwITeCyPTery-JlWGpkOM5TUg-">Click here to sign up to stay informed about Participatory Budgeting in Cambridge!</a></p>
  </body>
</html>